<div id="pheader">
<h2><%= @project.name %></h2>

<h3>Description</h3>
<p><%=h @project.description %>
</div>

<div id="pnav">
  <h3>Navigation</h3>
  <ul>
    <li><%= link_to 'Add User', :action => 'crud_user', :pid => @project %></li>
    <li><%= link_to 'Add Requirement', :action => 'new_requirement', :pid => @project %></li>
    <li><%= link_to 'Add Feature', :action => 'new_feature', :pid => @project %>
    <li><%= link_to 'Back', :action => 'index' %></li>
  </ul>
</div>
<% unless flash[:notice].blank? %>
  <div id="notification"><%= flash[:notice] %></div>
<% end %>
<% unless flash[:warning].blank? %>
  <div id="warning"><%= flash[:warning] %></div>
<% end %>
<div id="stakeholders">
<h3>Project Stakeholders</h3>
<table>

  <tr>
    <th>Username</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>E-Mail</th>
    <th>Company Name</th>
    <th>Security Role</th>
  </tr>
<% for user in @project.users %>
  <tr>
    <td><%= user.username %></td>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.email %></td>
    <td><%= user.company_name %></td>
    <td><%= user.role %></td>
    <% unless user == @current_user %>
      <td><%= link_to 'Remove', :action => 'delete_user', :id => user, :pid => @project %></td>
  <% end %>
  </tr>

<% end %>
</table>
</div>
<div id="requirements">
<h3>Project Requirements</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Status</th>
    <th>Created At</th>
    <th>Modified</th>
  </tr>
  <% for r in @project.requirements %>
  <tr>
    <td><%= r.name %></td>
    <td><%= r.description %></td>
    <td><%= r.status %></td>
    <td><%= r.created_at %></td>
    <td><%= r.updated_at %></td>
    <td><%= link_to 'Edit', :action => 'edit_requirement', :rid => r, :pid => @project %>
    <td><%= link_to 'Delete', :action => 'remove_requirement', :rid => r, :pid => @project %></td>
  </tr>
  <% end %>
</table>
</div>
<div id="features">
<h3>Project Features</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Risk</th>
    <th>Rank</th>
    <th>Owner</th>
    <th>Created</th>
    <th>Modified</th>
  </tr>
  <% for f in @project.features %>
    <tr>
      <td><%= f.name %></td>
      <td><%= f.description %></td>
      <td><%= f.risk %></td>
      <td><%= f.rank %></td>
      <td><%= f.user.username %></td>
      <td><%= f.created_at %></td>
      <td><%= f.updated_at %></td>
      <td><%= link_to 'Delete', :action => 'remove_feature', :fid => f, :pid => @project %></td>
    </tr>
  <% end %>
</table>
</div>

