<div id="pheader">
<h2><%= @project.name %></h2>

<h3>Description</h3>
<p><%=h @project.description %>
</div>

<div id="pnav">
  <h3>Navigation</h3>
  <ul>
    <li><%= link_to 'Add User', :action => 'crud_user', :pid => @project %></li>
    <li><%= link_to 'Back', :action => 'index' %></li>
  </ul>
</div>
<% unless flash[:notice].blank? %>
  <div id="notification"><%= flash[:notice] %></div>
<% end %>

<div id="stakeholders">
<h3>Project Stakeholders</h3>
<table>

  <tr>
    <th>UserID</th>
    <th>Username</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>E-Mail</th>
    <th>Company Name</th>
    <th>Security Role</th>
  </tr>
<% for user in @project.users %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.username %></td>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.email %></td>
    <td><%= user.company_name %></td>
    <td><%= user.role %></td>
    <% unless user == @current_user %>
      <td><%= link_to 'Remove', :action => 'delete_user', :id => user, :pid => @project %></td>
  <% end %>
  </tr>

<% end %>
</table>
</div>
<h3>Project Requirements</h3>
<h3>Project Features</h3>
